* {
    margin:0;
    padding:0;

}

.resp {
    width: 100%;
}

h2 , p {
    text-align: center;
    color: cornflowerblue;
    border:1px dotted black;
}

p {
    color: blue;
}

.nav-header {
    background-color: coral;
    text-align: center;
    height: 10vh;
}
.lien {
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
    font-family: "Al Bayan";
}
.lien1 {
    margin: 10px;
    text-decoration: none;

}
.lien2 {
    margin: 10px;
    text-decoration: none;
}
.lien3 {
    margin: 10px;
    text-decoration: none;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10%;
}
article {
    width: 40%;
    padding-top: 2%;
    height: 30%;
}
footer {
    margin-top: 20%  ;
    height: 10vh;
    background-color: coral;
    text-align: center;
}
body {
    background-color: grey;
}


