<!DOCTYPE html>
<html lang="fr">
{# permet de lire le css apply inline_css(source("style.css"))#}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# asset permet de lire le fichier css placé dans le dossier public #}
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <title>{% block metaTitle %}{% endblock metaTitle %}</title>

</head>
<body>

<header>
    <p>HEADER</p>
</header>

<main>
    {% block main %}
    {% endblock main %}

</main>

<footer>
    <p>
        {% block textFooter %}
        {% endblock textFooter %}
    </p>

</footer>


</body>
</html>
{# endapply#}